table {
    width: 100%;
    margin-top: 1%;
}

.mat-header-cell {
    color: white !important;
    background-color: #2970db;
}

.invite{
    margin-top: 1%;
    font-size: 18px !important;
    font-weight: 600 !important;
    color:black
}

.select{
    margin-left: 10%;
    margin-top: -3%;
}

.example-full-width{
    width: 100%;
}
