.invite {
    margin-top: 1%;
    font-size: 18px !important;
    font-weight: 600 !important;
    color: black
}


.example-full-width {
    width: 100%;
}

.head{
    background-color: #2970db;
    color: white;
}
.box {
    margin-left: -1%;
    margin-top: 2%;

}
.example-radio-group {
    display: flex;
    flex-direction: column;
    /* display: inline-grid; */
    /* display: grid; */
    margin: 15px 0;
}